.baners {
  margin: 0 auto;
  height: 112.5vw;
  padding: 0 25px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.baner{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &--borderInside{
    width: calc(100% - 20px); 
    height: calc(100% - 20px);
  
    border: 1px solid $themeWhite;
    opacity: 0;
  }

    &:hover{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    
      & .baner--borderInside {
       
        opacity: 1;
        transition: opacity ease-out 0.3s;
      }
    }
}


.baner1 {
  grid-area: 1 / 1 / 2 / 2;
}
.baner2 {
  grid-area: 1 / 2 / 2 / 3;
}
.baner3 {
  grid-area: 2 / 1 / 3 / 2;
}
.baner4 {
  grid-area: 2 / 2 / 3 / 3;
}

@media screen and (min-width: $large) {
  .baners {
    height: 60vw;
    padding: 0 70px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .baner1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .baner2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .baner3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .baner4 {
    grid-area: 1 / 3 / 3 / 4;
  }
}
