.news {
  max-width: 100%;
  margin: 0 25px;
  overflow: hidden;
  @media screen and (min-width: $medium) {
    margin: 0 70px;
  }


  &__title {
    margin: 50px auto 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    & h2 {
      display: inline-block;
      width: 200px;
      text-align: center;
      padding: 0 38px;

      font-family: $fontFamily;
      font-weight: 600;
      text-transform: uppercase;

      padding: 0 38px;
      font-size: 25px;
      @media screen and (min-width: $large) {
        font-size: 30px;
        padding: 0 25px;
      }
    }

    &Decoration {
      width: 430px;
      height: 1px;
      border: 1px solid $themeGrey;
    }
  }

  &__content{
    display: flex;
  }

  &__showMore{
    margin: 40px 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    & span{
      font-family: $fontFamily2;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.6px;
      text-decoration: underline;
      padding: 0 15px;
    }

    & i{
      font-size: 10px;
    }
  }

}
